html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* styles.css */
body {
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  background-color: black;
  margin-bottom: 50px;
  z-index: 999;
}

main {
  position: relative;
  margin-left: 10px;
  top: 70px;
}

h1 {
  font-size: 30px;
  color: red;
  text-align: center;
  background-color: black;
  padding: 10px;
  text-shadow: 0px 2px 2px rgb(241, 243, 239);
}

h2 {
  margin-left: 40px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 0, 134);
  text-shadow: 0px 2px black;
}

.genero {
  display: flex;
  gap: 10px;
  width: 50px;
  margin-left: 10px;
  padding: 10px;
}

.pelicula {
  /* margin-top: 60px; */
  background-color: rgb(0, 0, 0);
  width: 200px;
  border: solid 1px black;
  padding: 5px;
  transition: all 0.5s ease;
}

.pelicula:hover {
  background-color: green;
  box-shadow: 8px 8px 8px black;
}

.pelicula img {
  width: 180px;
}

.pelicula h3 {
  color: white;
  text-align: center;
}